
* {
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}




section{
    margin-top:145px;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vn;
  

}

section .main{
    margin-top: 40px;
}

section header{
    position: absolute;
    top: -125px;
    width: 120%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

section header ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

section header ul li{
    list-style: none;
    margin-left: 20px;
}
section header ul a{
    color: #111;
    text-decoration: none;
    font-size: 13px;
}

section header ul li button{
    background: #4584ef;
    border: none;
    outline: none;
    padding: 8px 14px ;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}


section .main{
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
}

section .main .searchBox


{
    position: relative;
    width: 100%;
    margin-top: 20px;
}


section .main .searchBox .search{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

section .main .searchBox .icons{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 12px 20px ;
    align-items: center;
    pointer-events: none;
    justify-content:space-between ;
}

.buttons{
    margin-left: -396px;
    margin-top: 270px;

}



.buttons button{
    margin: 0px 15px ;
    padding: 12px 20px ;
    color: #555;
    font-size: 14px ;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
   
}


.buttons button:hover{
    border: 1px solid #ccc;
}


section .footer{
    position: absolute;
    bottom: -187px;
    left: 0;
    width: 111%;
    background: #f2f2f2;
    border-top: .8px solid #a29d9d45;
    color: black;
}



section .footer .row{
    padding: 15px 25px;
    text-align: right;

}

section .footer .row .row2{
display: flex;
justify-content: space-between;

height: 30px;
    background-color: #a29d9d1a;
    padding: 10px;
}





section .footer .row2 ul {
          display: flex;
          float: left;
}

section .footer .row2 ul li{
    list-style: none;
}

section .footer .row2 ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right:25px ;
}


section .footer .row2 ul:nth-child(2) li a{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right:0px ;
    margin-left: 25px;
}


